<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yannqing.dockerdesktop.mapper.PermissionsMapper">

    <resultMap id="BaseResultMap" type="com.yannqing.dockerdesktop.domain.Permissions">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="delete_flag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,name,
        code,type,delete_flag
    </sql>
    <select id="queryPermissionsByUserId" parameterType="integer" resultType="String">
        select distinct yp.code from yan_permissions yp inner join yan_role_permissions yrp on yp.id = yrp.pid inner join yan_role_user yru on yru.rid = yrp.rid where yru.uid = #{userId}
    </select>
</mapper>
